#page-mod-geniai-view #geniai-mod-popup {
  max-height: 650px;
  background: #fff;
  text-align: left;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.4s;
}
#page-mod-geniai-view #geniai-mod-popup #geniai-scrollarea {
  min-height: 450px;
  max-height: 650px;
  background-size: cover;
  margin: 0;
  overflow: hidden;
  overflow-y: scroll;
}
#page-mod-geniai-view #geniai-mod-popup #geniai-scrollarea .geniai-header {
  color: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  background-color: rgb(var(--color_primary, 30, 136, 229));
  background-size: cover;
  padding: 13px 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0 !important;
  opacity: 1 !important;
  z-index: 9;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  .geniai-header
  .geniai-info {
  display: flex;
  align-items: center;
  text-align: left;
  transition: all 0.4s;
  gap: 9px;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  .geniai-header
  .geniai-info
  img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  display: block;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  .geniai-header
  .geniai-info
  > div {
  height: 40px;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  .geniai-header
  .geniai-info
  > div
  .geniai-name {
  letter-spacing: 0.5px;
  font-size: 14px;
  display: block;
  line-height: 10px;
  margin-top: 6px;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  .geniai-header
  .geniai-info
  > div
  .geniai-status {
  position: relative;
  font-weight: 400;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.3px;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  .geniai-header
  .right-icons {
  position: absolute;
  top: 20px;
  right: 10px;
  display: flex;
  gap: 10px;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  .geniai-header
  .right-icons
  a,
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  .geniai-header
  .right-icons
  span {
  display: inline-block;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.5s;
  margin-right: 0;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  .geniai-header
  .right-icons
  a:hover,
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  .geniai-header
  .right-icons
  span:hover {
  opacity: 1;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  .geniai-header
  .right-icons
  a
  img,
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  .geniai-header
  .right-icons
  span
  img {
  height: 24px;
  width: auto;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  #geniai-area-mensagens {
  float: left;
  clear: both;
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
  padding-top: 70px;
  margin-top: 0;
}

/* --- User (mine) message style --- */
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  #geniai-area-mensagens
  .geniai-message:not(.geniai-server):not(.geniai-error) {
  float: right;
  clear: both;
  position: relative;
  margin: 2px 10px 5px 10px;
  box-shadow: none;
  background: linear-gradient(to bottom, #00d0ea 0%, #0085d1 100%);
  background-attachment: fixed;
  border-radius: 20px;
  padding: 8px 15px;
  max-width: calc(100% - 90px);
  min-width: 80px;
  color: white;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.3px;
  outline: none;
  margin-left: 25%;
}

/* --- Bot (yours) message style --- */
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  #geniai-area-mensagens
  .geniai-message.geniai-server {
  float: left;
  clear: both;
  position: relative;
  margin: 2px 10px 5px 10px;
  box-shadow: none;
  background-color: #eee;
  border-radius: 20px;
  padding: 8px 15px;
  max-width: calc(100% - 90px);
  min-width: 80px;
  color: #333;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.3px;
  outline: none;
  margin-right: 25%;
}

#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  #geniai-area-mensagens
  .geniai-message
  button {
  -webkit-appearance: none;
  border: none;
  background: rgba(137, 137, 137, 0.368627451);
  padding: 0 10px;
  line-height: 28px;
  border-radius: 5px;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  #geniai-area-mensagens
  .geniai-message.format-text {
  white-space: break-spaces;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  #geniai-area-mensagens
  .geniai-message.geniai-error {
  background-color: #e91e63;
  color: #fff;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  #geniai-area-mensagens
  .geniai-message
  p:last-child,
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  #geniai-area-mensagens
  .geniai-message
  ul:last-child,
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  #geniai-area-mensagens
  .geniai-message
  ol:last-child {
  margin-bottom: 0 !important;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  #geniai-area-mensagens
  .transcription {
  font-style: italic;
  margin-left: 20px;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  #geniai-area-mensagens.hide-message
  .geniai-history {
  display: none;
}
#page-mod-geniai-view #geniai-mod-popup #geniai-sendarea {
  position: relative;
  display: flex;
  gap: 15px;
  background: #e9e9e9;
  margin: 0;
  padding: 10px 8px 10px 15px;
  border-top: 1px solid #dee5ec;
  align-items: center;
}
#page-mod-geniai-view #geniai-mod-popup #geniai-sendarea #geniai-textarea {
  margin: 0;
  box-shadow: none;
  border-radius: 4px;
  letter-spacing: 0.3px;
  width: 100%;
  max-height: 100px;
  font-size: 16px;
  min-height: 0;
  padding: 5px;
  outline: none;
  text-align: left;
  font-weight: 400;
  resize: none;
  border: none;
  color: #566069;
  background: #fff;
  overflow-x: hidden;
  display: block;
  height: 34px;
}
#page-mod-geniai-view #geniai-mod-popup #geniai-sendarea #geniai-icon-stop img,
#page-mod-geniai-view #geniai-mod-popup #geniai-sendarea #geniai-icon-mic img,
#page-mod-geniai-view #geniai-mod-popup #geniai-sendarea #geniai-icon-send img {
  height: 31px;
  width: 31px;
  cursor: pointer;
  transition: all 0.4s;
}
#page-mod-geniai-view #geniai-mod-popup #geniai-sendarea #geniai-icon-mic {
  display: none;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-sendarea
  #geniai-icon-mic.recording {
  margin: -6px;
  padding: 6px;
  border-radius: 8px;
  background-color: #e91e63;
  animation: ease geniai-pulse 2s infinite;
}
@keyframes geniai-pulse {
  0% {
    background-color: #e91e63;
  }
  50% {
    background-color: #ba68c8;
  }
  100% {
    background-color: #e91e63;
  }
}
#page-mod-geniai-view #geniai-mod-popup #geniai-sendarea #geniai-icon-send {
  opacity: 0.5;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-sendarea.geniai-active
  #geniai-icon-mic {
  display: none !important;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-sendarea.geniai-active
  #geniai-icon-send {
  opacity: 1;
}

/* Tail for bot messages (yours) */
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  #geniai-area-mensagens
  .geniai-message.geniai-server.last::before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  #geniai-area-mensagens
  .geniai-message.geniai-server.last::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

/* Tail for user messages (mine) */
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  #geniai-area-mensagens
  .geniai-message.last:not(.geniai-server):not(.geniai-error)::before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #00d0ea 0%, #0085d1 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}
#page-mod-geniai-view
  #geniai-mod-popup
  #geniai-scrollarea
  #geniai-area-mensagens
  .geniai-message.last:not(.geniai-server):not(.geniai-error)::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}

#geniai-sendarea {
  border-radius: 12px; /* Rounds the container */
  overflow: hidden; /* Ensures rounded corners are preserved */
  background: #e9e9e9;
  padding: 10px;
}

#geniai-sendarea #geniai-textarea {
  border-radius: 8px; /* Rounds the textarea */
  border: 1px solid #dee5ec; /* Optional: adds a subtle border */
  padding: 5px;
}

#geniai-icon-send, #genai-icon-mic{
    filter: grayscale(100%);
}

#geniai-icon-send:hover,#geniai-icon-mic:hover {
  filter: brightness(0);
}

.activityicon {
  filter: none !important;
}
